<div class="grid-container">
    <a *ngFor="let card of cardItems; let i=index" class="grid-item" [routerLink]="'/projects/' + card.title"
    [style.grid-row-start]="Math.floor(i / 4 + 1)"
    [style.grid-column-start]="Math.floor(i % 4 + 1)"
    [style.scale]="card.highlighted ? '1.02' : undefined">
        <div class="card-header">
            {{card.title}}
        </div>
        <img class="card-img" [src]="'assets/item-images/' + card.title + '.png'">
        <div class="description">{{card.description}}</div>
        <div class="date">{{card.date}}</div>
    </a>
</div>