.grid-container {
    display: inline-grid;
    column-gap: 20px;
    row-gap: 20px;
    margin-left: 50px;
}

.grid-item {
    height: 400px;
    width: 250px;
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
    text-decoration: none;
}

.grid-item:hover {
    scale: 1.02;
    cursor: pointer;
}

.card-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    background: rgb(24, 24, 65);
    border-radius: 10px 10px 0 0;
}

.card-img {
    width: 250px;
    height: 150px;
}

.description {
    margin: 10px 15px 10px 15px;
    color: black;
    text-indent: 16px;
}

* {
    color: white;
}