<div class="container">
    <img src="assets/half-picture.png">
    <div class="content">
        <h2>Evan Goldman</h2>
        <h3>Student</h3>
        <p>
            Graduate student studying Electrical Engineering with an emphasis on Machine Intelligence at University of California, Riverside.
            Passionate about creating autonomous systems through the use of computer vision and reinforcement learning.
            I'm looking to apply my skills to create something new and make the world a better place!
        </p>
        <ul>
            <li><a href="https://github.com/egold010?tab=repositories">
                <img src="assets/github-icon.png">
                github
            </a></li>
            <li><a href="https://www.linkedin.com/in/egold018/">
                <img src="assets/linkedin-icon.png">
                linkedin
            </a></li>
            <li><a href="mailto:evangoldman10@gmail.com">
                <img src="assets/mail-icon.png">
                email
            </a></li>
        </ul>
    </div>
</div>