<div class="container">
    <img src="/assets/half-picture.png">
    <div class="content">
        <h2>Evan Goldman</h2>
        <h3>Student</h3>
        <p>
            aa
            aaa
        </p>
        <ul>
            <li><button>
                <img src="/assets/placeholder.png">
                github
            </button></li>
            <li><button>
                <img src="/assets/placeholder.png">
                linkedin
            </button></li>
            <li><button>
                <img src="/assets/placeholder.png">
                email
            </button></li>
        </ul>
    </div>
</div>