<div class="container">
    <img src="assets/half-picture.png">
    <div class="content">
        <h2>Evan Goldman</h2>
        <h3>Student</h3>
        <p>
            Math major with a concentration in physics graduating in 2023 at University of California, Riverside.
            Has experience in software and is looking to be able to apply it to creating something new.
            Interested in automation using software, game development, application development, robotics, Rubik's puzzles.
        </p>
        <ul>
            <li><a href="https://github.com/egold010?tab=repositories">
                <img src="assets/github-icon.png">
                github
            </a></li>
            <li><a href="https://www.linkedin.com/in/egold018/">
                <img src="assets/linkedin-icon.png">
                linkedin
            </a></li>
            <li><a href="mailto:evangoldman10@gmail.com">
                <img src="assets/mail-icon.png">
                email
            </a></li>
        </ul>
    </div>
</div>