<div class="container">
    <div class="left-side">
        <img src="assets/evan.jpg" alt="My Picture" class="animate-left">
    </div>
    
    <!-- Right Side: Text and Buttons -->
    <div class="right-side">
        <h1 class="animate-right" style="animation-delay: 0.5s;">Hello,</h1>
        <h2 class="animate-right" style="animation-delay: 1s;">I'm Evan</h2>
        <h2 class="animate-right long-text" style="animation-delay: 2s;">Welcome to my portfolio!</h2>
        <div class="button-container animate-right" style="animation-delay: 3s;">
            <a href="https://github.com/egold010?tab=repositories" target="_blank">
                <img src="assets/linkedin-icon.png" alt="LinkedIn">
            </a>
            <a href="https://www.linkedin.com/in/egold018/" target="_blank">
                <img src="assets/github-icon.png" alt="GitHub">
            </a>
            <a href="mailto:evangoldman10@gmail.com" target="_blank">
                <img src="assets/mail-icon.png" alt="Email">
            </a>
        </div>
    </div>

    <img src="assets/arrow_down.png" style="animation-delay: 3.5s;" alt="Down Arrow" class="animate-arrow">
</div>