<div class="container">
    <section id="home">
        <app-introduction></app-introduction>
    </section>
    <section id="about">
        <app-about></app-about>
    </section>
    <section id="career">
        <app-career></app-career>
    </section>
    <section id="papers">
        <app-papers></app-papers>
    </section>
    <section id="projects">
        <app-projects></app-projects>
    </section>
    <section id="coursework">
        <app-coursework></app-coursework>
    </section>
</div>