.nav-bar {
    display: flex;
    width: 100%;
    height: 50px;
    background: #333;
}

img {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 25px;
}

.img-li {
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}

ul {
    display: block;
    list-style-type: none;
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 100px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
}

li a:hover {
    background: #111;
}