<section class="container">
  <h1 appReveal appDecode>Projects <span class="title-subtext">(click for more info)</span></h1>
  <div class="project-list">
    <!-- Relevant projects -->
    <app-project-card
      *ngFor="let project of relevantProjects"
      [project]="project"
      class="project-card"
      appTilt [tiltMax]="5"
      [routerLink]="['/project', project.title]">
    </app-project-card>

    <!-- Toggle button -->
    <button class="toggle-button" (click)="showAllProjects = !showAllProjects">
      {{ showAllProjects ? 'Show Less' : 'Show More' }}
      <img src="assets/arrow_down.png" alt="" aria-hidden="true"
        [style.transform]="showAllProjects ? 'rotate(-180deg)' : 'rotate(0deg)'"
        [style.transition]="'transform 0.3s ease'" />
    </button>

    <!-- Hidden projects -->
    <ng-container *ngIf="showAllProjects">
      <app-project-card
        *ngFor="let project of hiddenProjects; let i = index"
        [project]="project"
        [index]="i"
        class="project-card animate"
        appTilt [tiltMax]="5"
        [routerLink]="['/project', project.title]"
        [style.animation-delay]="(i * 100) + 'ms'">
      </app-project-card>
    </ng-container>
  </div>
</section>